.container {
  /* background-color : rgb(224, 224, 227); */
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  min-height: 92vh;
}

.logo {
  margin: 10px;
  text-align: center;
}

.search-box{
  display: flex;
  text-align: center;
  justify-content: center;
}
input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #fb8c00;
}

.profile-container {
  background-color: rgb(237, 237, 239);
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  min-height: 700px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px;
}

.user-data-container {
  background-color: #b0b0b0;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;  
}