.heatmap-container {
  display: flex;  
}

.heatmap-month {
  /* margin-bottom: 20px; */
  text-align: center;
  margin-right: 10px;
} 
.heatmap-month h4{
  margin: 0;
}

.heatmap-grid {
  display: flex;
  flex-direction: row;
}

.heatmap-week {
  display: flex;
  flex-direction: column;
}

.heatmap-cell {
  width: 10px;
  height: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
}

.empty {
  background-color: #e0e0e0; /* Lighter color for days with no submissions */
  color: transparent;
}
.heatmap-cell.blank {
  background-color: transparent;
  border: none; /* Optional: remove the border */
  width: 10px;
  height: 10px;
}

.no-activity {
  background-color: #fbf1f1;
}
.low-activity {
  background-color: #febaba;
}

.medium-activity {
  background-color: #ff8383;
}

.high-activity {
  background-color: #fb3a3a;
}

.very-high-activity {
  background-color: #fd0000;
}

